@charset "utf-8";


/*@font-face {
  font-family: 'copperplate-gothic-bold';
  src: url('../fonts/copperplate-gothic-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}*/

* { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }
body {
  position: relative;
  font-family: Microsoft Yahei,PingFang SC,HanHei SC,Arial;
  font-size: 14px;
  letter-spacing: 0.05em;
  line-height: 1.6;
  min-width: 320px;
  color: #000;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: #fff;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, 
dl, dt, dd, ol, ul, 
table, caption, tbody, tfoot, thead, tr, th, td {
  font-size: 100%;
  font-weight: normal;
  line-height: 150%;
}

ul, ol {  list-style: none; }
img { vertical-align: bottom; border: none; max-width: 100%; height: auto; }
table { border-collapse: collapse; }
strong { font-weight: bold; }
em { font-style: normal; font-weight: normal; }
button{ background-color: transparent; border: none; cursor: pointer; outline: none; padding: 0; appearance: none;  vertical-align: top; }
a { text-decoration: none; color: inherit; }

@media screen and (max-width: 768px) {
  html {
    font-size: 20px;
  }
  body {
    font-size: 1rem;
  }
}

@media screen and (max-width: 640px) {
  html {
    font-size: 3.125vw;
  }
  body {
    font-size: 1rem;
  }
}


/******************************************
 * 汎用クラス
 *****************************************/
.hidden { display: none; }

.clearfix:after { content: ""; display: block; clear: both; }

.hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1;
}
.hover:hover { opacity: 0.75; }

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-combine {
  -webkit-text-combine: horizontal;
  -ms-text-combine-horizontal: all;
  text-combine-upright: all;
}

.font-mincho { font-family: Microsoft Yahei,PingFang SC,HanHei SC,Arial; }
.font01 { font-family: Copperplate,Copperplate Gothic Light,fantasy; }
.fontB { font-weight: bold; }

.mb5 { margin-bottom: 5px; }
.mb10 { margin-bottom: 10px; }
.mb15 { margin-bottom: 15px; }
.mb20 { margin-bottom: 20px; }
.mb25 { margin-bottom: 25px; }
.mb30 { margin-bottom: 30px; }
.mb35 { margin-bottom: 35px; }
.mb40 { margin-bottom: 40px; }
.mb45 { margin-bottom: 45px; }
.mb50 { margin-bottom: 50px; }

.animation03 { position: relative; top: 10px; opacity: 0; }

@media screen and (min-width: 769px) {
  .sp-only {
    display: none;
  }
  .brsp {
	  display: none;
  }
}
@media screen and (max-width: 768px) {
  .pc-only {
    display: none;
  }
  .brsp {
	  display: block;
  }
}

/******************************************
 * webkit スクロールバー
 *****************************************/
/*スクロールバー全体*/
.scroll::-webkit-scrollbar {
    width: 8px;
}

/*スクロールバーの軌道*/
.scroll::-webkit-scrollbar-track {
  /*border-radius: 10px;*/
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
}

/*スクロールバーの動く部分*/
.scroll::-webkit-scrollbar-thumb {
  background-color: rgba(78, 71, 58, 0.68);
  /*border-radius: 10px;*/
  /*box-shadow:0 0 0 1px rgba(255, 255, 255, .3);*/
}

/******************************************
 * 共通部分レイアウト
 *****************************************/
body {
  position: relative;
  overflow-x: hidden;
}

/* page-header  *****************************************/
.page-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  pointer-events: none;
}
.page-news .page-header,
.page-staffcast .page-header,
.page-character-index .page-header,
.page-character-detail .page-header,
.page-information .page-header,
.page-story .page-header {
  background-color: #000;
  height: 60px;
}
.page-header-inner {
  position: relative;
  pointer-events: auto;
}
.header-ttl {
  position: absolute;
}
.page-news .header-ttl,
.page-staffcast .header-ttl,
.page-character-index .header-ttl,
.page-character-detail .header-ttl,
.page-information .header-ttl,
.page-story .header-ttl {
	position: static;
}
.btn-gnav {
  position: absolute;
  z-index: 9999;
  cursor: pointer;
}
.btn-gnav i {
  display: block;
  background: #000;
}
.btn-gnav i:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/btn-menu.png) no-repeat center center / 70% auto;
}
.btn-gnav.open i:before {
  background-image: url(../images/btn-close.png);
}

@media screen and (min-width: 769px) {
  .header-ttl {
    top: 10px;
    left: 20px;
    width: 210px;
  }
  .page-news .header-ttl,
  .page-staffcast .header-ttl,
  .page-character-index .header-ttl,
  .page-character-detail .header-ttl,
  .page-information .header-ttl,
  .page-story .header-ttl {
	  display: none;
  }
  .btn-gnav {
    top: 0;
    right: 8px;
  }
  .btn-gnav i {
    width: 55px;
    height: 60px;
  }
}
@media screen and (max-width: 768px) {
  .header-ttl {
    top: 1rem;
    left: 1rem;
    width: 10rem;
  }
  .page-news .header-ttl,
  .page-staffcast .header-ttl,
  .page-character-index .header-ttl,
  .page-character-detail .header-ttl,
  .page-information .header-ttl,
  .page-story .header-ttl {
	  display: none;
  }
  .page-top .btn-gnav {
    top: 1rem;
    right: .8rem;
  }
  .btn-gnav {
    top: .5rem;
    right: .8rem;
  }
  .btn-gnav i {
    width: 2.5rem;
    height: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .page-top .btn-gnav {
    top: .5rem;
	right: 1rem;
  }
  .btn-gnav {
    top: .8rem;
	right: 1rem;
  }
  .btn-gnav i {
    width: 3.5rem;
    height: 3.5rem;
  }
}

/* gnav  *****************************************/
.gnav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  margin-left: 0;
  background: #000;
  transition: all .3s ease;
  visibility: hidden;
  width: 75%;
  transform: translateX(120%);
  z-index: 1;
}
.gnav.open {
  visibility: visible;
  transform: translateX(0);
}
.gnav-inner {
  height: 100%;
  overflow: auto;
}
.gnav-list {
  border-top: none;
}
.gnav-list > li {
  display: block;
  text-align: center;
  transition: transform 1s cubic-bezier(0.74, 0.015, 0.465, 1);
  transform: translateX(60px);
}
.gnav.open .gnav-list > li {
  transform: translateX(0);
}
.gnav.open .gnav-list > li:nth-child(1) { transition-delay: .1s; }
.gnav.open .gnav-list > li:nth-child(2) { transition-delay: .15s; }
.gnav.open .gnav-list > li:nth-child(3) { transition-delay: .2s; }
.gnav.open .gnav-list > li:nth-child(4) { transition-delay: .25s; }
.gnav.open .gnav-list > li:nth-child(5) { transition-delay: .3s; }
.gnav.open .gnav-list > li:nth-child(6) { transition-delay: .35s; }
.gnav.open .gnav-list > li:nth-child(7) { transition-delay: .4s; }
.gnav.open .gnav-list > li:nth-child(8) { transition-delay: .45s; }
.gnav-list > li,
.gnav-list > li:first-child {
  margin-left: 0;
}
.gnav-list > li > a {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  line-height: 1.1;
  letter-spacing: .08em;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.gnav-list > li > a:hover,
.gnav-list > li.current a {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.gnav-list > li > a,
.gnav.open .gnav-list > li > a:hover,
.gnav.open .gnav-list > li.current a {
  color: #fff;
  text-shadow: 0 0 10px #000;
}
.gnav-list > li > a:hover,
.gnav-list > li.current a,
.gnav.open .gnav-list > li > a {
  color: #000;
  text-shadow: 0 0 10px #fff;
}
/* top only */
.page-top .gnav-list > li.top-no-navi {
	display: none;
}
.gnav-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .5);
  opacity: 0;
  transition: opacity .3s ease;
  visibility: hidden;
}
.gnav.open + .gnav-overlay {
  opacity: 1;
  visibility: visible;
}

@media screen and (min-width: 769px) {
  .gnav {
    padding-top: 25px;
    font-size: 27px;
  }
  .gnav-list > li {
    padding: 15px 0;
  }
  .gnav-list > li > a {
    font-size: 18px;
    width: 160px;
    height: 80px;
    padding-top: 18px;
  }
  .gnav-list > li > a span {
    font-size: 10px;
  }
}

@media screen and (max-width: 768px) {
  .gnav {
    font-size: 1.5rem;
    padding-top: 5rem;
  }
  .gnav-list > li {
    padding: .75rem 0;
  }
  .gnav-list > li > a {
    width: 16rem;
    height: auto;
    padding: .75rem 1rem;
    margin: 0 auto;
  }
  .gnav-list > li > a span {
    font-size: .5rem;
  }
  /* top only */
.page-top .gnav-list > li.top-no-navi {
	display: block;
}
}

/* page-footer  *****************************************/
.page-footer:before {
  content: "";
  display: block;
  width: 100%;
  height: 530px;
}
.page-character-index .page-footer:before,
.page-character-detail .page-footer:before,
.page-story .page-footer:before {
	background: none;
	height: auto;
}
.page-top .page-footer-inner {
	padding: 10px;
}
.page-footer-inner {
  padding: 35px 10px 10px;
  background: ;
  text-align: center;
  color: #fff;
  position: relative;
}
.page-footer .sns li {
  width: 32px;
  margin: 0 10px;
}
.page-footer .sns li a {
  display: block;
  border: 1px solid;
}
.page-footer .bnr {
  margin: 20px 0;
}
.btn-pagetop {
	position: absolute;
	top: -120px;
	left: 100px;
}
.btn-pagetop a {
	background: #000;
    font-weight: bold;
    font-size: 12px;
    padding: 5% 0;
	width: 100px;
	text-align: center;
    display: block;
}
.copyright {
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .page-footer:before {
    height: 9.5rem;
  }
  .page-footer .bnr {
    margin: 2rem 0;
  }
  .btn-pagetop {
	  top: -45px;
	  left: 20px;
  }
  .btn-pagetop a {
	  font-size: .8rem;
  }
  .copyright {
    font-size: .8rem;
  }
}

.page-wrapper {
}
@media screen and (max-width: 768px) {
}

.content {
  min-height: calc(100vh - 400px);
  padding: 140px 20px;
  background: url(../images/bg-body.jpg) no-repeat center top;
  margin-top: 60px;
}
.content-inner {
  max-width: 1000px;
  margin: 0 auto;
}
.content-header {
  margin-bottom: 150px;
  text-align: center;
}
.content-header .page-detail-ttl {
	width: 250px;
	margin: 0 auto 80px;
}

@media screen and (min-width: 1280px) {
  .content {
    background-size: 100% auto;
  }
}
@media screen and (max-width: 768px) {
  .content {
    padding: 9rem 1rem;
    background-size: 300% auto;
  }
  .content-header {
    margin-bottom: 5.5rem;
  }
  .content-header .page-detail-ttl {
	  width: 200px;
  }
  .content-ttl img {
    width: auto;
    height: 1.5rem;
  }
}

.sns ul {
  display: flex;
  justify-content: center;
}
.sns li {
  vertical-align: middle;
  width: 32px;
}
.sns li + li {
  margin-left: 15px;
}
.sns li a {
  display: block;
}

.modal-content {
  position: fixed;
  display: none;
  z-index: 999;
  width: 65%;
  margin: 0;
  padding: 10px;
  border: 1px solid #000;
  background: #fff;
  top: 20% !important;
  left: 20% !important;
  max-height: calc(90vh - 30px);
  overflow: auto;
}
.modal-content p {
  margin: 0;
  padding: 0;
}
.modal-content-close {
  text-align: right;
}
.modal-content-close a {
  display: inline-block;
  cursor: pointer;
}
.modal-overlay {
  z-index: 1;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: rgba(255, 255, 255, .7);
}

@media screen and (max-width: 1024px) {
  .modal-content {
  	width: 90%;
  	top: 15% !important;
  	left: 5% !important;
  }
}

@media screen and (max-width: 480px) {
  .modal-content {
  	width: 90%;
  }
}

@media screen and (min-width: 1600px) {
  .modal-content {
  	width: 55% !important;
  }
}
